@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-shine {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 200% 0, -200% 0, 0 200%, 0 -200%;
  }
}

.shiny-border {
  position: relative;
  z-index: 0;
  border-radius: 9999px; /* matches rounded-full */
}

.shiny-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; /* border thickness */
  opacity: 0.6;
  background: linear-gradient(90deg, #a38afd, #8bb0ff, #8e8dff);
  background-size: 200% 200%;
  animation: border-shine 4s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}
